#banner {
  position: relative;
  margin: auto;
  img {
    width: 100%;
  }
  background-image: image-url('backgroundny.jpeg');
  padding-top: 200px;
  padding-bottom: 200px;
  // img {
  //   width: 100%;
  //   position: relative;
  // }
}

#pages_home .navbar { margin-bottom: 0 }

#searchbar {
  position: absolute;
  bottom: 50%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  background: white;
  font-color: black;
  border-radius: 4px;
  text-align: justify;
  display: inline;
}

h1 {
  color: white;
}
