.bkg-grey {
  background: grey;
  width: 70%;
  height: 400px;
  // position: relative
}

.card-white {
  background: #F5F5F5;
  text-align: center;
  font-color: dark-grey;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  // position: absolute;
}


#cancelbutton {
  align-bottom: 30px;
}

.reservation-form {
  border: 1px solid lightgray;
  border-radius: 6px;
  background-color: white;
  text-align: center;
  padding: 38px;
  /* margin: 30px auto; */
  margin-top: 30px;
  margin-bottom: 30px;
  h2 {
    font-size: 25px;
    border-bottom: 1px;
    margin-bottom: 20px;
    margin-top: -12px;
    font-decorate: underline;
  }
}

.apartment-form {
  border: 1px solid lightgray;
  border-radius: 6px;
  background-color: white;
  text-align: center;
  padding: 15px;
  /* margin: 30px auto; */
  margin-top: 30px;
  margin-bottom: 30px;
  h2 {
    font-size: 25px;
    border-bottom: 1px;
    margin-bottom: 20px;
    margin-top: -12px;
    font-decorate: underline;
  }
}


