<div class="footer" class= center>
  <p>Rejoignez-nous sur : </p>
      <ul class="list-inline">
        <li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="" target="_blank"><i class="fa fa-youtube"></i></a></li>
      </ul>
      <p>Copyright : Airbnb, inc</p>

    </div>

