

<div id="banner" class="text-center">

  <h1>WELCOME</h1>

  <div class="searchbar">
    <div class="row">
          <div >
              <div id="container">
                <form action='/' class="form-inline">
                  <input type='text' class='form-control' placeholder='city'>
                  <input type='text' class='form-control' placeholder='check-in'>
                  <input type='text' class='form-control' placeholder='check-out'>
                  <input type='text' class='form-control' placeholder='capacity'>
                  <input type='search' value='search' class= 'btn btn-danger'>
                </form>
              </div>
          </div>
    </div>
  </div>

</div>




