<div id="banner">
  <%= image_tag "backgroundny.jpg" %>

  <div class="container">
    <div class="row">
      <div class= "col-xs-8">
          <form class="form-inline" role="form">
          <div class="col-xs-6 col-sm-2">
            <div class="form-group">
              <label for="address">City:</label>
              <input type="city" class="form-control" id="city">
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="form-group">
              <label for="checkin_on">Check-in</label>
              <input type="day" class="form-control" id="check-in">
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="form-group">
              <label for="checkout_on">Check-out</label>
              <input type="day" class="form-control" id="check-in">
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="form-group">
              <label for="capacity">Capacity</label>
                <select>
                  <option value="1">1 person</option>
                  <option value="2">2 persons</option>
                  <option value="3">3 persons</option>
                  <option value="4">4 persons</option>
                </select>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div id="banner" class="text-center">

  <h1>WELCOME</h1>

  <div id="searchbar">
    <div class="row">
          <div >
              <div id="container">
                <form action='/' class="form-inline">
                  <input type='text' class='form-control' placeholder='city'>
                  <input type='text' class='form-control' placeholder='check-in'>
                  <input type='text' class='form-control' placeholder='check-out'>
                  <input type='text' class='form-control' placeholder='capacity'>
                  <input type='search' value='search' class= 'btn btn-danger'>
                </form>
              </div>
          </div>
    </div>
  </div>
 -->





