/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 .absolute {
  img {
    position: absolute;
  }
 }

 .price-tag {
  position: relative;
  bottom: -153px;
  background: white;
  padding-left: 8px;
  width: 30%;
 }

 .thumbnail-description {
  position: relative;
  bottom: -153px;
  padding-top: 20px;
 }

 .card {
  margin: 50px;
 }
