/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

body

 .price-tag {
  position: absolute;
  bottom: 123px;
  background: rgba(30, 30, 30, 0.9);
  color: white;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
 }

 .description {
  padding-top: 20px;
 }

 .card {
  position: relative;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px;
 }

 .img-card {
  border-radius: 4px;
 }

 .form-search {
  margin-right: 73px;
 }

 .entire-form {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DCDCDC;
 }

 #info-show {
  padding: 50px;
 }

 input.button-picture {
  display: inline;
  margin-left: 100px;
 }

 .map-center {
  padding: auto;
 }
