
.footer {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center
  }

.footer  a{
  color: lightgrey;
  font-size: 15px;
  letter-spacing: 15px;
  padding-left: 20px;

}

.footer a:hover{
  color: white;
}

.footer p{
  color:lightgrey;
  padding-left: 20px;
  font-size: 12px;
}
